* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    display: inline-block;
}
a{
    text-decoration: none;
    display: block;
}

.header{
    width: 100%;
    height: 80px;
    background-color: #2E64FE;
    text-align: center;
    font-size: 36px;
    line-height: 80px;
}

.header a{
    color: #fff;
}

.nav{
    width: 100%;
    height: 70px;
}

.content{
    width: 1200px;
    height: 100%;
    background-color: #424242;
    margin: 0 auto;
    padding: 0 20px;
}

.content ul li{
    width: 189px;
    height: 70px;
    text-align: center;
    font-size: 20px;
    line-height: 70px;
    color: #fff;
}
.message{
    position: relative;
    width: 1200px;
    margin: 0 auto;
    height: 360px;
    /* background-color: #848484; */
    background-image: url(../img/舞狮.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 85%;
}

.grade{
    position: absolute;
    width: 1200px;
    margin: 0 auto;
    height: 360px;
    /* background-color: #848484; */
}


/* 年级模块样式 */
.lixxuexinianji{
    position: absolute;
    padding: 30px 0px;
    width: 189px;
    height: 360px;
    left: 20px;
    background-color: #fff;
    display: none;
    opacity: 0.9;
}
.wenxuexinianji{
    position: absolute;
    padding: 30px 0px;
    width: 189px;
    height: 360px;
    left: 213px;
    background-color: #fff;
    display: none;
    opacity: 0.9;
}

.shekexinianji{
    position: absolute;
    padding: 30px 0px;
    width: 189px;
    height: 360px;
    left: 407px;
    background-color: #fff;
    display: none;
    opacity: 0.9;
}

.waiyuxinianji{
    position: absolute;
    padding: 30px 0px;
    width: 189px;
    height: 360px;
    left: 602px;
    background-color: #fff;
    display: none;
    opacity: 0.9;
}

.tiyuxinianji{
    position: absolute;
    padding: 30px 0px;
    width: 189px;
    height: 360px;
    left: 795px;
    background-color: #fff;
    display: none;
    opacity: 0.9;
}

.meishuxinianji{
    position: absolute;
    padding: 30px 0px;
    width: 189px;
    height: 360px;
    left: 989px;
    background-color: #fff;
    display: none;
    opacity: 0.9;
}

.nj{
    height: 75px;
    width: 189px;
    line-height: 75px;
    text-align: center;
}

.nj div a{
    height: 75px;
    width: 129px; 
    font-size: 14px;
    /* background-color: aqua; */
}

.liclass{
    float: left;
    width: 286px;
    height: 89px;
    margin: 0 2px;
    /* background-color: black; */
}

.liclass:hover a{
    background-color: #58FAF4; 
}
/* .liclass li{
    list-style:
} */

.liclass li a{
    text-align: center;
    width: 270px;
    height: 89px;
    display: block;
    color: black;
    margin: 0 1px;
    border-bottom: 0.1px solid #fff;
    line-height: 89px;
}

.ysimg{
    position: absolute;
    width: 1200px;
    height: 450px;
    top: 10px;
    background-color: #E6E6E6;
    text-align: center;
    font-size: 80px;
    line-height: 450px;
    color: #848484;
    /* display: none; */
}

.class1{
    position: absolute;
    width: 1200px;
    height: 360px;
    top: 370px;
}

.banji{
    position: absolute;
    width: 1200px;
    height: 450px;
    top: 10px;
    margin: 0;
    padding: 10px 20px;
    background-color: #CEF6F5;
}

.z{
    width: 1200px;
    height: 835px;
    margin: 0 auto;
}



.foot{
    width: 100%;
    height: 100px;
    margin: 0 auto;
    padding: 10px ;
    background-color: #2E64FE;
}
.foot_z{
    width: 1200px;
    height: 80px;
    margin: 0 auto;
}

.foot_xing{
    width: 386px;
    height: 40px;
    float: left;
}

.foot_xing a{
    width: 290px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 14px;
}
.banji{
    position: absolute;
    width: 1200px;
    height: 450px;
    top: 10px;
    /* display: none; */
}

/* #liyiba{
    display: block;
    z-index: 1;
}
#liyijiu1{
    display: block;
    z-index: 2;
}
#lierling{
    display: block;
    z-index: 1;
}
#lieryi{
    display: none;
}
#wenyiba{
    display: none;
}
#wenyijiu{
    display: none;
}
#wenerling{
    display: none;
}
#weneryi{
    display: none;
}
#sheyiba{
    display: none;
}
#sheyijiu{
    display: none;
}
#sheerling{
    display: none;
}
#sheeryi{
    display: none;
}
#waiyiba{
    display: none;
}
#waiyijiu{
    display: none;
}
#waierling{
    display: none;
}
#waieryi{
    display: none;
}
#tiyiba{
    display: none;
}
#tiyijiu{
    display: none;
}
#tierling{
    display: none;
}
#tieryi{
    display: none;
}
#meiyiba{
    display: none;
}
#meiyijiu{
    display: none;
}
#meierling{
    display: none;
}
#meieryi{
    display: none;
} */